.section {
	min-height: 100vh;
}

.container {
	margin: 0px auto;
	width: 60vw;
	position: relative;
	padding-bottom: 100px;
}

/* Top navigation bar styles start here*/
.container2 {
	width: 92vw;
	background-color: white;
	margin: auto;
}

a {
	font-family: 'Inter', sans-serif;
	font-weight: 400;
	text-decoration: none;
	color: rgba(0,0,0,.90);
}
nav {
	width: 100vw;
	background-color: white;
	position: fixed;
	top: 0px;
	z-index: 1;
	display: block;
	margin: 0px auto;
	padding: 30px 0px;
}

#logo {
	padding: 0px;
	
	float: left;
	color: orangered;
	font-weight: bold;
}

#logo:hover {
	color: black;
}


h1 {
	padding-top: 120px;
	padding-bottom: 20px;
	text-align: left;
	font-size: 3em;
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 700;
	line-height: 1.1;
	font-style: normal;
	color: rgba(0,0,0,.90);
}

h2 {
	
	color: rgba(0,0,0,.90);
	font-size: 2em;
	line-height: 1.4;
	padding-top:30px;
	padding-bottom: 30px;
	font-family: "Inter", sans-serif;
	font-optical-sizing: auto;
	font-weight: 550;
	font-style: normal;
	font-variation-settings:
    "slnt" 0;
	text-align: left;
	letter-spacing: -0.01em;
	margin: 0;
}
h3 {
	color: rgba(0,0,0,.90);
	font-size: 1.3em;
	line-height: 1.4;
	padding-bottom: 0px;
	font-family: "Inter", sans-serif;
	font-optical-sizing: auto;
	font-weight: 550;
	font-style: normal;
	font-variation-settings: "slnt" 0;
	text-align: left;
	letter-spacing: -0.01em;
	margin: 0;
}

.devider {
	padding-bottom: 0px;
}

p {	
	color: rgba(0,0,0,.90);
	font-size: 1.3em;
	line-height: 1.4;
	/* letter-spacing: .01em; */
	font-family: "Inter", sans-serif;
	font-weight: 385;
	font-style: normal;
	padding-bottom: 15px;
	margin: 0;
}


br {
	display: block; /* makes it have a width */
	content: ""; /* clears default height */
	margin-top: 15px; /* change this to whatever height you want it */
}


img {
	display: block;
	margin: 30px 0px;
	margin-left: auto;
	margin-right: auto;
}

.underline {
	background-size: 1.5px 1em;
	box-shadow:
	inset 0 -0.15em #0b8457;
	display: inline;
}

/* A different way to underline text by using <u> tag instead of <span> */
u {
	text-decoration: underline dotted #0b8457;
}

/* Responsive layout - when the screen is less than 500px wide, make content margin thiner */

@media screen and (min-width: 1440px) {
	.container {	
		width: 60vw;
	}
		p {
			font-size: 1.3em;
		}
	}


@media screen and (max-width: 1000px) {
	.container {	
		width: 75vw;
	}
	p {
		font-size: 1.3em;
	}
	h1 {
		font-size: 2.5em;
	}
}

@media screen and (max-width: 700px) {
	.container {	
		width: 92vw;
	}
	p {
		font-size: 1.3em;
	}

	h1 {
		font-size: 1.8em;
	}
}