body {
    margin: 0;
    overflow: hidden;
    background-color: #191919;
  }

* {
	box-sizing: border-box;
	margin: 0;
	font-family: 'Inter', Arial, Helvetica, sans-serif;
	color: rgb(231, 231, 231);
	
}

h1 {
	font-size: 1.5em;
	font-family: 'Inter', sans-serif;
	font-optical-sizing: auto;
	font-weight: 650;
	font-style: normal;
	font-variation-settings:"slnt" 0;
	color: rgb(231, 231, 231);
	padding-bottom: 20px;
}

p {
	font-size: 1.5em;
	line-height: 1.5em;
	font-family: 'Inter', sans-serif;
	font-optical-sizing: auto;
	font-weight: 385;
	font-style: normal;
	font-variation-settings:"slnt" 0;
	color: rgb(231, 231, 231);
	padding-bottom: 20px;
}

a {
	font-family: 'Inter', sans-serif;
	font-weight: 400;
	text-decoration: none;
	color: rgb(231, 231, 231);
}

.email {
	font-family: 'Inter', sans-serif;
	font-weight: 400;
	text-decoration: none;
	color: #18A0FB;
}

.underline-ee-1 {
	background-size: 1.5px 1em;
	box-shadow:
	inset 0 -0.08em #18A0FB;
	display: inline;
}
.underline-ee-2 {
	background-size: 1.5px 1em;
	box-shadow:
	inset 0 -0.08em #18A0FB;
	display: inline;
}

.underline-karma {
	background-size: 1.5px 1em;
	box-shadow:
	inset 0 -0.08em #18A0FB;
	display: inline;
}

.underline-behance {
	background-size: 1.5px 1em;
	box-shadow:
	inset 0 -0.08em #18A0FB;
	display: inline;
}

.underline-linkedin {
	background-size: 1.5px 1em;
	box-shadow:
	inset 0 -0.08em #18A0FB;
	display: inline;
}

br {
	display: block; /* makes it have a width */
	content: ""; /* clears default height */
	margin-top: 0px; /* change this to whatever height you want it */
}

/* Top navigation bar styles start here*/

nav {
	width: 100vw;
	/* background-color: white; */
	position: fixed;
	top: 0px;
	z-index: 1;
	display: block;
	margin: 0px auto;
	padding: 30px 0px;
}

#logo {
	padding: 0px;
	
	float: left;
	color: orangered;
	font-weight: bold;
}

#logo:hover {
	color: black;
}


footer {
	width: 100vw;
	/* background-color: white; */
	margin: 0px auto;
	padding: 30px 0px;
	position: fixed;
	position: fixed;
	bottom: 0px;
	z-index: 1;
	display: block;
}


.container {
	margin: 150px auto 100px;
	width: 60vw;
	position: relative;
	/* background-color: white; */
	
}
.container2 {
	width: 92vw;
	/* background-color: white; */
	margin: auto;
}

@media only screen and (max-width: 1000px) {
	.container {
		margin: 100px auto;
		width: 80vw;
		position: relative;
	}
	.container2 {
		width: 80vw;
	}
	p {
		font-size: 1.1em;
		line-height: 1.25em;}
}