* {
	box-sizing: border-box;
	margin: 0;
	font-family: 'Inter', Arial, Helvetica, sans-serif;
	color: black;
	
}

h1 {
	font-size: 1.5em;
	font-family: "Inter", sans-serif;
	font-optical-sizing: auto;
	font-weight: 600;
	font-style: normal;
	font-variation-settings:"slnt" 0;
}

h3 {
	text-transform: uppercase;
	font-weight: normal;
	color: coral;
}

p {
	font-size: 1.5em;
	line-height: 1.5em;
	font-family: 'Inter', sans-serif;
	font-optical-sizing: auto;
	font-weight: 370;
	font-style: normal;
	font-variation-settings:"slnt" 0;
	color: rgba(0,0,0,.90);
}

a {
	font-family: 'Inter', sans-serif;
	font-weight: 500;
	text-decoration: none;
	color: #0a43ac;
}
.eeapp {
	text-decoration: none;
	color: #109e92;
}

.karma {
	text-decoration: none;
	color: #f55cb5;
}
.medium {
	text-decoration: none;
	color: #b40e61;
}
.insta {
	text-decoration: none;
	color: #6b0aac;
}
.behance{
	text-decoration: none;
	color: #0a43ac;
}
.linkedin{
	text-decoration: none;
	color: #045381;
}

/* Top navigation bar styles start here*/

nav {
	width: 95vw;
	background-color: white;
	position: fixed;
	top: 0px;
	z-index: 1;
	display: block;
	margin: 0 auto;
	padding: 30px 0px ;
}

.menu, .hamburger {
	float: right;
	padding: 20px;
	color: black;
	font-weight: bold;
	margin: 0;
}

.menu:hover {
	color: orangered;
}

#logo {
	padding: 0px;
	padding-left: 20px;
	float: left;
	color: orangered;
	font-weight: bold;
}

#logo:hover {
	color: black;
}

/* Responsive layouts */

@media screen and (max-width: 770px) {
	.menu {
		display: none;
	}
}

@media screen and (min-width: 770px) {
	.hamburger {
		display: none;
	}
	.pop-up-menu {
		display: none;
	}
}


/* END Top navigation bar styles*/


footer {
	background-color: white;
	margin: 0px auto;
	text-align: left;
	width: 95vw;
	position: relative;
}

.section {
	min-height: 70vh;
}

.container {
	margin: 150px auto;
	width: 60vw;
	position: relative;
}

@media only screen and (max-width: 600px) {
	.container {
		margin: 100px auto;
		width: 80vw;
		position: relative;}
	p {
		font-size: 1.2em;
		line-height: 1.35em;}
	footer {
		background-color: white;
		margin: 0px auto;
		text-align: left;
		width: 80vw;
		position: relative;
	}