
img {
	width: 100%;
	max-height: 500px;
	display: block;
	object-fit: contain;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 30px;
}


.blog-container {
	padding: 0 0;
}

.line {
	height: 3px;
	width: 20vw;
	margin: 125px auto;
	display: block;
	background-color: coral;

}