h1 {
	padding-top: 30px;
	padding-bottom: 20px;
	text-align: center;
	font-size: 52px;
	margin: 0;
	font-family: english-grotesque, sans-serif;
	font-weight: 700;
	line-height: 1.1;
	font-style: normal;
	color: #0b8457;
}

h2 {
	margin-left: 30%;
	margin-right: 30%; 
	color: #0b8457;
	font-size: 20px;
	line-height: 1.6;
	padding-bottom: 100px;
	font-family: english-grotesque, sans-serif;
	font-weight: 100;
	font-style: normal;
	text-align: center;
	letter-spacing: 0.01em;
}

.devider {
	padding-bottom: 0px;
}

p {	
	
	margin-left: 25%;
	margin-right: 25%; 
	color: rgba(0,0,0,.80);
	font-size: 22px;
	line-height: 1.6;
	letter-spacing: .01em;
	font-family: bennet-display, sans-serif;
	font-weight: 300;
	font-style: normal;
}


img {
	display: block;
	margin-top: 80px;
	margin-left: auto;
	margin-right: auto;
}

.underline {
	background-size: 1.5px 1em;
	box-shadow:
	inset 0 -0.15em #0b8457;
	display: inline;
}

/* A different way to underline text by using <u> tag instead of <span> */
u {
	text-decoration: underline dotted #0b8457;
}

/* Responsive layout - when the screen is less than 500px wide, make content margin thiner */

@media screen and (min-width: 1440px) {
	p {	
		margin-left: 30%;
		margin-right: 30%;
	}
}

@media screen and (max-width: 900px) {
	p {	
		margin-left: 15%;
		margin-right: 15%;
	}
}

@media screen and (max-width: 500px) {
	p {	
		margin-left: 5%;
		margin-right: 5%;
	}
}