body {
	font-family: 'Muli', sans-serif;
	margin: 0 ;
	padding: 0;
	box-sizing: border-box;
	background-color: mistyrose;
	}

header {
	box-sizing: border-box;
	width: 100%;
	background-color: rgba(255, 255, 255, 95%);
	position: fixed;
	padding: 30px;
	top: 0;
	z-index: 2;
	}

footer {
	text-align: center;
	font-style: sans-serif;
	margin: 0px;
	padding: 100px;
	font-size: 0.8rem;
	}

h1 {
	font-size: 40px;
	text-transform: lowercase;
	font-style: bold;
	line-height: 1.1;
	}

h2 {
	font-size: 1.5rem;
	line-height: 1.4;
	margin: 200px auto;
	max-width: 30em;
	color: lightgreen;
	}

h3 {
	font-size: 2rem;
	line-height: 1.4;
	text-transform: lowercase;
	font-style: bold;
	margin: 0;
	padding-top: 20px;
	}

p {
	font-style: sans-serif;
	font-size: 20px;
	margin: 0;
	padding: 0;
	line-height: 1.4;
	}

a { font-size: 1rem;
	text-decoration: none;
	font-weight: 400;
	color: navy;
	}


	.wrapper {
		margin: 0 30px;	
		}

.logo { font-weight: 700;
	color: #063b6d;
}

.about {
	float: right;
}

/*
.row {
	display: block;}

.half {
	float: left;
	width: 49.99999%;
}

*/


.center {
	text-align: center;
	margin-bottom: 80px;
	}

.cover {
	width: 100%;
	height: 100%;
	margin-top: 10vh;
	padding: 30px;
	box-sizing: border-box;
	}


.container {
	margin: 30px;
	background-color: white;
	background-color: none;
	}

.wrapper, .columns {
	display: flex;
	/* justify-content: ; */
	}

.img-wight {
	width: 50%;
	height: 100%;
	padding-right: 20px;
	padding-top: 20px;
	}

.columns {
	margin-right: 0px;
	}

.main, .sidebar { 
	box-sizing: border-box;
	}

.main {
	width: 60%;
	background-color: white;
	}

.sidebar {
	width: 40%;
	height: 90vh;
	position: sticky;
	top: 60px;
	padding: 20px 60px 20px 0px;
	background-color: yellow;
	}

* {
	box-sizing: border-box;
}

.placeholder {
	background-color: olive;
	height: 1200px;
	width: 100%;
	margin-top: 30px;
	margin-left: 30px;
	margin-right: 30px;
}

.cont {
	display: block;
	width: 75%vw;
	height: 300px;
	background-color: blueviolet;
}
/* The grid container */
.grid-container {
	display: grid;
	grid-template-areas: 
	'left middle right'; 
	grid-column-gap: 10px;
} 

.left,
.middle,
.right {
	padding: 10px;
	height: 300px; /* Should be removed. Only for demonstration */
}

/* Style the left column */
.left {
	grid-area: left;
}

/* Style the middle column */
.middle {
	grid-area: middle;
}

/* Style the right column */
.right {
	grid-area: right;
}


/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
  .grid-container  {
    grid-template-areas:  
      'left' 
      'middle' 
      'right';
  }
}

